<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>


<th:block th:include="navbar_guest">

</th:block>


<!--<div class="bg-light">-->
<!--    <hr class="bg-light">-->
<!--</div>-->

<div id="login_modal" tabindex="-1" role="dialog" aria-labelledby="login_modal" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="sign_up_label">Sign Up</h1>
                <button class="close" type="button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <form action="#" th:action="@{/sign_up}" th:object="${user}" method="POST">
                        <div>
                            <label>Username
                                <input type="text" th:field="*{username}" required="required"/>
                            </label>
                            <th:block th:if="${errors} != null">
                                <div th:if = "${errors.getFieldError('username')} != null">
                                    <h6 style="color: crimson"
                                        th:text="${errors.getFieldError('username').getDefaultMessage()}"></h6>
                                </div>
                            </th:block>
                        </div>

                        <div>
                            <label>First Name
                                <input type="text" th:field="*{firstName}" required="required"/>
                            </label>
                        </div>
                        <div>
                            <label>Last Name
                                <input type="text" th:field="*{lastName}" required="required"/>
                            </label>
                        </div>
                        <div>
                            <label>E-mail
                                <input type="email" th:field="*{email}" required="required"/>
                            </label>
                            <th:block th:if="${errors} != null">
                                <div th:if="${errors.getFieldError('email')} != null">
                                    <h6 style="color: crimson"
                                        th:text="${errors.getFieldError('email').getDefaultMessage()}"></h6>
                                </div>
                            </th:block>
                            <div>
                                <h6 style="color: crimson" th:if="email_exist != null"
                                    th:text="${email_exist}"></h6>
                            </div>
                        </div>
                        <div>
                            <label>Password
                                <input type="password" th:field="*{password}" required="required"/>
                            </label>
                            <th:block th:if="${errors} != null">
                                <div th:if="${errors.getFieldError('password')} != null">
                                    <h6 style="color: crimson"
                                        th:text="${errors.getFieldError('password').getDefaultMessage()}"></h6>
                                </div>
                            </th:block>
                        </div>
                        <div>
                            <label>Confirm password
                                <input type="password" th:field="*{matchingPassword}" required="required"/>
                            </label>
                            <th:block th:if="${errors} != null">
                                <div th:if="${errors.hasGlobalErrors()}">
                                    <h6 style="color: crimson"
                                        th:text="${errors.getGlobalError().getDefaultMessage()}"></h6>
                                </div>
                            </th:block>
                        </div>

                        <button type="submit">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</body>

</html>