<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>

    <title>BadSamaritan Information Security Test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

</head>
<body>

<th:block th:class="moodal-header" th:include="navbar_guest">
</th:block>

<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8"><h1>Information security test by AngrySamaritan</h1></div>
        <div class="col-2"></div>
    </div>
    <div class="row" style="margin-top: 10vh"></div>
</div>

<th:block th:each="question, qIt: ${questions}">
    <form class="question" th:id="${question.getId()}">
        <div class="container">
            <div class="row"><h3 th:text="'Question ' + ${qIt.count} + ':'"></h3></div>
            <div class="row"><h4 th:text="${question.getText()}"></h4></div>
            <div class="container" th:each="answer, aIt: ${question.getAnswers()}">
                <div class="row">
                    <div class="col-1"
                         th:if="${question.getType()} == ${T(com.ibadsamaritan.examination.isecuritytest.model.Type).RADIO}">
                        <input type="radio" th:name="'answer2question' + ${qIt.index}"
                               th:class="'answer2question' + ${question.getId()}"
                               th:value="${answer.getId()}">
                    </div>
                    <div class="col-1"
                         th:if="${question.getType()} == ${T(com.ibadsamaritan.examination.isecuritytest.model.Type).CHECKBOX}">
                        <input type="checkbox" class="answer" th:value="${answer.getId()}">
                    </div>
                    <div class="col-8"><h5 th:text="${aIt.index + 1} + '.' + ${answer.getText()}"></h5></div>
                </div>
            </div>
        </div>
    </form>
</th:block>
<div class="container-fluid align-content-center" style="margin-top: 45vh">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <button class="btn btn-success" title="Submit" onclick="submit()">Submit</button>
        </div>
        <div class="col-4"></div>
    </div>
</div>


<script>
    function submit() {

        let userAnswers = getUserAnswers();
        let data = JSON.stringify(userAnswers);

        $.ajax({
            type: "POST",
            url: "/test",
            data: {
                "data": data
            },
            dataType: "json",
            success: function (data, status, jqXHR) {
                alert("You gave " + data['result'] + " right answers");
                lightAnswers(userAnswers, data['answers'])
            },
        });
    }

    function getUserAnswers() {
        let data = [];
        $.each($('.question'), function () {
            let answers = {};
            let checked = [];
            let id = $(this).closest("form").attr('id');
            $.each($('.answer2question' + id), function () {
                if ($(this).prop('checked')) {
                    checked.push($(this).attr('value'))
                }
            });
            answers['id'] = id;
            answers['checked'] = checked;
            data.push(answers);
        });
        return data;
    }


    function lightAnswers(userAnswers, rightAnswers) {
        lightRight(userAnswers, rightAnswers);
        lightWrong(userAnswers, rightAnswers);
    }

    function lightRight(userAnswers, rightAnswers) {

    }

    function lightWrong(userAnswers, rightAnswers) {

    }
</script>


</body>
</html>